@import '../../../../../mixins';


.articlesItem {
  width: 417px;
  min-height: 598px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  @include t {
    width: 470px;
  }

  @include m {
    width: 100%;
    min-height: 479px;
    margin-bottom: 50px;
  }


  &:nth-child(3), &:nth-child(4) {
    width: 850px;

    @include t {
      width: 470px;
    }

    @include m {
      width: 100%;
    }
  }
}

.image {
  height: 310px;
  object-fit: cover;
  object-position: 50% 65%;
  margin-bottom: 20px;

  @include m {
    margin-bottom: 15px;
    height: 254px;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 20px;

  @include m {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #5F6267;
  margin-bottom: auto;

  @include m {
    font-size: 16px;
    line-height: 19px;
  }
}

.date {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A3A3A3;
  margin-bottom: 11px;

  @include m {
    margin-bottom: 15px;
  }
}

.link {
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  text-decoration-line: underline;
  color: #872693;
  font-size: 20px;
  line-height: 23px;

  @include m {
    font-size: 18px;
    line-height: 21px;
  }
}
