@import '../../../mixins';

.btn {
  align-items: center;
  display: flex;
  gap: 10px;
  color: #872693;
  font-size: 20px;
  
  @include m {
    font-size: 16px;
  }
  
  svg {
    width: 26px;
    height: 24px;

    @include m {
      width: 17px;
      height: auto;
    }
  }
}