@import '../../../../mixins';

:global {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -16px!important;
    @include t {
      bottom: -14px!important;
    }
  }

  .swiper-wrapper{
    height: 674px!important;
    @include m {
      height: 525px!important;
    }
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #872693;
  }
  .swiper-pagination {
    z-index: 2;
    height: 30px;
    position: absolute;
    bottom: 10px!important;
  }
}

.services {
  margin-bottom: 80px;
}

.title {
  font-family: 'Cambria', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #192B39;
  margin-bottom: 36px;

  @include m {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 135%;
  color: #5F6267;
  margin-bottom: 106px;

  @include m {
    font-size: 21px;
    line-height: 135%;
    margin-bottom: 81px;
  }
}

.sliderWraper {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.sliderWrapper {
  width: 100%;
  position: relative;
}

.slider {
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  width: 1536px;
  @include t {
    width: 746px;
  }
  @include m {
    width: 100%;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
  }
}

.sliderBtn {
  z-index: 1;
  position: absolute;
  top: 39.6%;
  transform: translateY(-50%);
  width: 47px;
  height: 47px;
}

.prevBtn {
  left: -15px;
  @include t {
    left: 25px;
  }
  @include m {
    display: none;
  }
}

.nextBtn {
  right: -15px;
  @include t {
    right: 25px;
  }

  @include m {
    display: none;
  }
}
